@{ViewData["Title"] = "Inicio";
}
<div class="container">
    <div class="text-star">
        <h1 class="display-4">Información de proyectores</h1>
        <h2 class="display-6">Proyector # @ViewBag.Id</h2>
        <p>Marca: @ViewBag.Marca</p>
        <p>Modelo: @ViewBag.Modelo</p>
        <p>Número de serie: @ViewBag.Numero_serie</p>
        <p>Sitaución: @ViewBag.Situacion</p>
        <p>Fecha de alta: @ViewBag.FechaDeAlta</p>
    </div>
</div>


